<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShowDB</title>
    <!--相关引入-->
    <link rel="shortcut icon" th:href="@{img/database.png}">
    <script th:src="@{js/vue.min.js}"></script>
    <script th:src="@{js/axios.min.js}"></script>
    <script th:src="@{js/element-ui.index.js}"></script>
    <link rel="stylesheet" th:href="@{css/db.css}">
    <link rel="stylesheet" th:href="@{css/element-ui-index.css}">
</head>
<body>
<dev id="ShowDB">
    <!--顶部laery-->
    <el-alert style="font-weight: bold" v-if="customize!=null"
              :title="customize.topAlert"
              type="success"
              @close="starIt" center>
    </el-alert>

    <el-container>
        <el-aside width="20%">
            <!--customize-->
            <el-card v-if="customize" :body-style="{ padding: '0px' }"
                     style="width: 75%;margin-left: 15%;margin-top: 10%" shadow="hover">
                <img :src="customize.img" class="image" style="width: 100%;display: block;">
                <div style="padding: 14px;">
                    <span style="font-size: large">👤  {{customize.creator}}</span><br>
                    <span style="font-size: large">📮  {{customize.email}}</span><br>
                    <span style="font-size: large">🗒  {{customize.desc}}</span><br>
                </div>
            </el-card>
            <el-empty v-if="customize==null" description="暂无自定义描述信息"></el-empty>
        </el-aside>

        <!--表结构信息-->
        <el-main v-loading="loadingTables" width="48%" style="margin: 10px">
            <div v-loading="loadingDataSource">
                <el-radio v-model="currentDataSource" @change="dsChange" v-for="(item,index) in dataSorucesInfo"
                          :label="item.beanName" border>{{item.beanName}}
                </el-radio>
            </div>

            <div style="margin-top: 18px">
                <el-popconfirm title="数据库结构发生变化需手动清理缓存？" @confirm="cleanCache">
                    <el-button icon="el-icon-delete" type="info" slot="reference">清理缓存</el-button>
                </el-popconfirm>
                <el-popconfirm title="是否生成当前数据源所有表结构文档？" @confirm="dsTableDoc">
                    <el-button icon="el-icon-document" type="primary" slot="reference">表结构文档导出</el-button>
                </el-popconfirm>
                <el-popconfirm title="是否导出当前数据源所有表SQL创建语句？" @confirm="dbCreateStatement">
                    <el-button icon="el-icon-document" type="primary" slot="reference">建表语句导出</el-button>
                </el-popconfirm>
                <el-button icon="el-icon-document" type="primary" slot="reference" @click="trxInfo">查看DB事务
                </el-button>
                <el-tooltip class="item" effect="dark" content="star~" placement="bottom">
                    <el-button style="background-color: #1d2009;border-color: black;color: white;"
                               type="primary" icon="el-icon-star-on" size="x-large" @click="starIt">star
                    </el-button>
                </el-tooltip>

            </div>

            <div style="display: flex;align-items: center">
                <el-autocomplete size="large"
                                 v-model="queryTableName"
                                 :fetch-suggestions="querySearch"
                                 placeholder="表名模糊查询，回车确认"
                                 select-when-unmatched="true"
                                 prefix-icon="el-icon-search"
                                 @select="handleSelect" style="margin-top: 18px;width: 30%;">
                    <template slot-scope="{ item }">
                        <div class="name">{{ item}}</div>
                    </template>
                </el-autocomplete>
            </div>


            <el-card v-for="(item,index) in  tableStruct" class="box-card" style="margin-top: 18px" shadow="hover">
                <div slot="header" class="clearfix">
                    <span style="font-weight: bolder">{{item.tableInfo.tableName}}&nbsp{{item.tableInfo.tableComment}}</span>
                    <el-button style="font-size: 18px;float: right; padding: 3px 3px" type="text"
                               @click="tableJavaCode(item.tableInfo.tableName)">Java实体类
                    </el-button>
                    <el-button style="font-size: 18px;float: right; padding: 3px 3px" type="text"
                               @click="tableCreateStatement(item.tableInfo.tableName)">建表语句
                    </el-button>
                    <el-button style="font-size: 18px;float: right; padding: 3px 0px" type="text"
                               @click="tableDetailInfo(item.tableInfo.tableName)">详细信息
                    </el-button>
                    <el-button style="font-size: 18px;float: right; padding: 3px 3px" type="text"
                               @click="generateMyBatisClick(item.tableInfo.tableName)">MyBatis代码生成
                    </el-button>
                </div>
                <div>
                    <el-table :data="item.tableFieldList" stripe style="width: 100%;font-size: medium">
                        <el-table-column property="fieldName" label="字段">
                            <template slot-scope="scope">
                                <span style="display: flex;align-items: center">
                                    <span>{{ scope.row.fieldName }}</span>
                                        <el-image v-if="scope.row.pk"
                                                  style="width: 26px; height: 26px"
                                                  th:src="@{img/pk.png}"></el-image>
                                </span>
                            </template>
                        </el-table-column>
                        <el-table-column property="type" label="类型"></el-table-column>
                        <el-table-column property="comment" label="字段描述"></el-table-column>
                        <el-table-column property="nullable" label="不为空">
                            <template slot-scope="scope">
                            <span style="display: flex;align-items: center">
                                        <el-image v-if="!scope.row.nullable"
                                                  style="width: 26px; height: 26px"
                                                  th:src="@{img/isTrue.png}"></el-image>
                                </span>
                            </template>
                        </el-table-column>
                        <el-table-column property="columnDefault" label="默认值"></el-table-column>
                    </el-table>
                </div>
            </el-card>

            <!--分页-->
            <div class="block" style="margin-top: 30px;text-align: center">
                <el-pagination
                        @current-change="handleCurrentChange"
                        :current-page.sync="tableStructPageNumber"
                        :page-size="tableStructSize"
                        layout="prev, pager, next, jumper"
                        :total="total">
                </el-pagination>
            </div>
        </el-main>

        <!--右侧数据源-->
        <el-aside width="28%" style="margin-top: 10px;margin-left: 10px">
            <el-card style="width:80%;overflow-x: auto" class="box-card"
                     v-if="currentDataSourceInfo!=null" shadow="hover">
                <el-descriptions direction="vertical" :column="1" border v-if="currentDataSourceInfo!=null"
                                 shadow="hover"
                                 :title="currentDataSourceInfo.beanName">
                    <el-descriptions-item label="数据库类型">
                        <el-tag size="large" type="info">{{currentDataSourceInfo.dsProductName}}</el-tag>
                    </el-descriptions-item>
                    <el-descriptions-item label="数据库版本号">
                        <el-tag size="large" type="success"> {{currentDataSourceInfo.dbVersion}}</el-tag>
                    </el-descriptions-item>
                    <el-descriptions-item label="数据库">
                        <div style="color:black;font-weight:bold;font-size: large">
                            {{currentDataSourceInfo.tableSchema}}
                        </div>
                    </el-descriptions-item>
                    <el-descriptions-item label="操作系统">{{currentDataSourceInfo.osEnv}}</el-descriptions-item>
                    <el-descriptions-item label="连接用户">{{currentDataSourceInfo.username}}</el-descriptions-item>
                    <el-descriptions-item label="总记录数">{{currentDataSourceInfo.records}} 行</el-descriptions-item>
                    <el-descriptions-item label="总数据量">{{currentDataSourceInfo.dataSize}}MB</el-descriptions-item>
                    <el-descriptions-item label="总索引量">{{currentDataSourceInfo.indexSize}}MB</el-descriptions-item>
                    <el-descriptions-item label="路径">{{currentDataSourceInfo.baseDir}}</el-descriptions-item>
                    <el-descriptions-item label="连接URL">
                        <el-button :plain="true" @click="showDsUrl(currentDataSourceInfo.url)">点击查看URL</el-button>
                    </el-descriptions-item>
                </el-descriptions>
            </el-card>

            <!--IP客户端信息-->
            <el-card style="margin-top: 12px;width:80%" class="box-card"
                     v-if="ipConInfo!=null" shadow="hover">
                <div slot="header" class="clearfix">
                    <span style="font-size: 32px;font-weight: 700;">客户端连接信息</span>
                </div>
                <el-table :data="ipConInfo" border>
                    <el-table-column prop="ip" label="IP"></el-table-column>
                    <el-table-column prop="count" label="连接数量"></el-table-column>
                </el-table>
            </el-card>


            <!--主从信息  IDEA的飘红不管-->
            <el-card style="margin-top: 12px;width:80%" class="box-card"
                     v-if="currentDataSourceMasterSlaveInfo==null"
                     shadow="hover">
                <el-empty th:image="@{img/masterSlave.png}"
                          description="暂未检测到当前数据源存在主从信息">
                </el-empty>
            </el-card>
            <el-card style="margin-top: 12px;width:80%" class="box-card"
                     v-if="currentDataSourceMasterSlaveInfo"
                     shadow="hover">
                <div>
                    <el-descriptions title="主从信息" direction="vertical" :column="1" border>
                        <el-descriptions-item label="主机IP（Master_Host）">
                            {{currentDataSourceMasterSlaveInfo.masterHost}}
                        </el-descriptions-item>
                        <el-descriptions-item label="主从复制用户（Master_User）">
                            {{currentDataSourceMasterSlaveInfo.masterUser}}
                        </el-descriptions-item>
                        <el-descriptions-item label="主机端口（Master_Port）">
                            {{currentDataSourceMasterSlaveInfo.masterPort}}
                        </el-descriptions-item>
                        <el-descriptions-item label="从库滞后时长（SQL_Delay），单位：秒">
                            <div style="color:#8de013;font-weight:bold;font-size: large"
                                 v-if="currentDataSourceMasterSlaveInfo.sqlDelay==0">
                                {{currentDataSourceMasterSlaveInfo.sqlDelay}}
                            </div>
                            <div style="color:red;font-weight:bold;font-size: large"
                                 v-if="currentDataSourceMasterSlaveInfo.sqlDelay!=0">
                                {{currentDataSourceMasterSlaveInfo.sqlDelay}}
                            </div>
                        </el-descriptions-item>
                        <el-descriptions-item label="连接主库失败最多的重试次数（Master_Retry_Count）">
                            {{currentDataSourceMasterSlaveInfo.masterRetryCount}}
                        </el-descriptions-item>
                        <el-descriptions-item label="slave I/O线程状态（Slave_IO_State）">
                            <div style="color:black;font-weight:bold;font-size: large">
                                {{currentDataSourceMasterSlaveInfo.slaveIOState}}
                            </div>
                        </el-descriptions-item>
                        <el-descriptions-item label="Slave_IO_Running">
                            <div style="color:#8de013;font-weight:bold;font-size: large"
                                 v-if="currentDataSourceMasterSlaveInfo.slaveIORunning=='Yes'">
                                {{currentDataSourceMasterSlaveInfo.slaveIORunning}}
                            </div>
                            <div style="color:red;font-weight:bold;font-size: large"
                                 v-if="currentDataSourceMasterSlaveInfo.slaveIORunning!='Yes'">
                                {{currentDataSourceMasterSlaveInfo.slaveIORunning}}
                            </div>
                        </el-descriptions-item>
                        <el-descriptions-item label="Slave_SQL_Running">
                            <div style="color:#8de013;font-weight:bold;font-size: large"
                                 v-if="currentDataSourceMasterSlaveInfo.slaveSQLRunning=='Yes'">
                                {{currentDataSourceMasterSlaveInfo.slaveSQLRunning}}
                            </div>
                            <div style="color:red;font-weight:bold;font-size: large"
                                 v-if="currentDataSourceMasterSlaveInfo.slaveSQLRunning!='Yes'">
                                {{currentDataSourceMasterSlaveInfo.slaveSQLRunning}}
                            </div>
                        </el-descriptions-item>
                        <el-descriptions-item label="Relay_Log_File">{{currentDataSourceMasterSlaveInfo.relayLogFile}}
                        </el-descriptions-item>
                        <el-descriptions-item label="Master_Log_File">
                            {{currentDataSourceMasterSlaveInfo.masterLogFile}}
                        </el-descriptions-item>
                    </el-descriptions>
                </div>
            </el-card>
        </el-aside>
    </el-container>


    <!--表创建语句弹框-->
    <el-dialog
            :title="createStatementTableName"
            :visible.sync="createStatementDialog"
            width="38%">
        <el-input
                type="textarea"
                :autosize="{ minRows: 2, maxRows: 20}"
                v-model="createStatementContent">
        </el-input>
        <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="createStatementDialog = false">确 定</el-button>
  </span>
    </el-dialog>

    <!--Java实体类代码-->
    <el-dialog
            :title="createJavaCodeTableName"
            :visible.sync="createJavaCodeDialog"
            width="38%">
        <el-input
                type="textarea"
                :autosize="{ minRows: 2, maxRows: 20}"
                v-model="createJavaCodeContent">
        </el-input>
        <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="createJavaCodeDialog = false">确 定</el-button>
  </span>
    </el-dialog>

    <!--表 详细信息-->
    <el-dialog :title="tableDetailTableName" :visible.sync="tableDetailDialog" width="38%">
        <el-descriptions v-if="tableDetailInformation!=null">版本号
            <el-descriptions-item label="表描述">{{tableDetailInformation.tableInfo.tableComment}}
            </el-descriptions-item>
            <el-descriptions-item label="行数">{{tableDetailInformation.tableInfo.rows}}</el-descriptions-item>
            <el-descriptions-item label="数据大小">{{(tableDetailInformation.tableInfo.dataSize / 1024 /
                1024).toFixed(2)}}MB
                /
                {{tableDetailInformation.tableInfo.dataSize}}B
            </el-descriptions-item>
            <el-descriptions-item label="索引大小">{{(tableDetailInformation.tableInfo.indexSie / 1024 /
                1024).toFixed(2)}}MB
                /
                {{tableDetailInformation.tableInfo.indexSie}}B
            </el-descriptions-item>
            <el-descriptions-item label="平均每行字节数">{{tableDetailInformation.tableInfo.avgRowLength}}B
            </el-descriptions-item>
            <el-descriptions-item v-if="tableDetailInformation.tableInfo.maxDataLenth===0" label="最大容量">
                {{(tableDetailInformation.tableInfo.maxDataLenth / 1024 / 1024).toFixed(2)}}MB /
                {{tableDetailInformation.tableInfo.maxDataLenth}}B
            </el-descriptions-item>
            <el-descriptions-item v-else label="最大容量">无上限</el-descriptions-item>

            <el-descriptions-item label="存储引擎">{{tableDetailInformation.tableInfo.engine}}</el-descriptions-item>
            <el-descriptions-item label="字符集">{{tableDetailInformation.tableInfo.collation}}</el-descriptions-item>
            <el-descriptions-item label="创建时间">{{tableDetailInformation.tableInfo.createTime}}
            </el-descriptions-item>
            <el-descriptions-item label="更新时间">{{tableDetailInformation.tableInfo.updateTime}}
            </el-descriptions-item>
        </el-descriptions>
        <span slot="footer" style="text" class="dialog-footer">
    <el-button type="primary" @click="tableDetailDialog = false">确 定</el-button>
  </span>
    </el-dialog>

    <!--数据源事务-->
    <el-dialog title="事务详情" :visible.sync="transDialogTableVisible">
        <el-table :data="trxInfos">
            <el-table-column label="trxId" property="trxId" width="150"></el-table-column>
            <el-table-column label="trx_state" property="trxState" width="150"></el-table-column>
            <el-table-column label="trx_started" property="trxStarted" width="150"></el-table-column>
            <el-table-column label="trx_requested_lock_id" property="trxRequestedLockId" width="150"></el-table-column>
            <el-table-column label="trx_wait_started" property="trxWaitStarted" width="150"></el-table-column>
            <el-table-column label="trx_weight" property="trxWeight" width="150"></el-table-column>
            <el-table-column label="trx_mysql_thread_id" property="trxMysqlThreadId" width="150"></el-table-column>
            <el-table-column label="trx_query" property="trxQuery" width="150"></el-table-column>
            <el-table-column label="trx_operation_state" property="trxOperationState" width="150"></el-table-column>
            <el-table-column label="trx_tables_in_use" property="trxTablesInUse" width="150"></el-table-column>
            <el-table-column label="trx_tables_locked" property="trxTablesLocked" width="150"></el-table-column>
            <el-table-column label="trx_lock_structs" property="trxLockStructs" width="150"></el-table-column>
            <el-table-column label="trx_lock_memory_bytes" property="trxLockMemoryBytes" width="150"></el-table-column>
            <el-table-column label="trx_rows_locked" property="trxRowsLocked" width="150"></el-table-column>
            <el-table-column label="trx_rows_modified" property="trxRowsModified" width="150"></el-table-column>
            <el-table-column label="trx_concurrency_tickets" property="trxConcurrencyTickets"
                             width="150"></el-table-column>
            <el-table-column label="trx_isolation_level" property="trxIsolationLevel" width="150"></el-table-column>
            <el-table-column label="trx_unique_checks" property="trxUniqueChecks" width="150"></el-table-column>
            <el-table-column label="trx_foreign_key_checks" property="trxForeignKeyChecks"
                             width="150"></el-table-column>
            <el-table-column label="trx_last_foreign_key_error" property="trxLastForeignKeyError"
                             width="150"></el-table-column>
            <el-table-column label="trx_adaptive_hash_latched" property="trxAdaptiveHashLatched"
                             width="150"></el-table-column>
            <el-table-column label="trx_adaptive_hash_timeout" property="trxAdaptiveHashTimeout"
                             width="150"></el-table-column>
            <el-table-column label="trx_is_read_only" property="trxIsReadOnly" width="150"></el-table-column>
            <el-table-column label="trx_autocommit_non_locking" property="trxAutocommitNonLocking"
                             width="150"></el-table-column>
        </el-table>
    </el-dialog>

    <!--MyBatis文件生成-->
    <el-dialog v-if="mybatisGenerateDefind" :visible.sync="mybatisGenerateDialogVisible"
               :title="'MyBatis文件生成🍓'+mybatisGenerateDefind.tableName">
        <el-form label-width="120px">
            <el-form-item label="类名" style="width: 40%">
                <el-input v-model="mybatisGenerateDefind.domainObjName"></el-input>
            </el-form-item>
            <el-form-item label="Dao项目路径">
                <el-input v-model="mybatisGenerateDefind.mapperJavaProjectPath"></el-input>
            </el-form-item>
            <el-form-item label="Dao包路径">
                <el-input v-model="mybatisGenerateDefind.mapperJavaPackagePath"></el-input>
            </el-form-item>
            <el-form-item label="XML项目路径">
                <el-input v-model="mybatisGenerateDefind.mapperXmlProjectPath"></el-input>
            </el-form-item>
            <el-form-item label="XML包路径">
                <el-input v-model="mybatisGenerateDefind.mapperXmlPackagePath"></el-input>
            </el-form-item>
            <el-form-item label="XML文件名">
                <el-input v-model="mybatisGenerateDefind.mapperName"></el-input>
            </el-form-item>
            <el-form-item label="实体类项目路径">
                <el-input v-model="mybatisGenerateDefind.modelProjectPath"></el-input>
            </el-form-item>
            <el-form-item label="实体类包路径">
                <el-input v-model="mybatisGenerateDefind.modelPackagePath"></el-input>
            </el-form-item>
            <el-form-item label="功能开关">
                <el-switch width="50" active-text="覆盖XML" v-model="mybatisGenerateDefind.overrideXML"></el-switch>
                &nbsp;&nbsp;&nbsp;
                <el-switch active-text="toString" v-model="mybatisGenerateDefind.useToString"></el-switch>
                &nbsp;&nbsp;&nbsp;
                <el-switch active-text="equals和hashCode" v-model="mybatisGenerateDefind.useEqAndHx"></el-switch>
                &nbsp;&nbsp;&nbsp;
                <el-switch active-text="批量插入更新语句" v-model="mybatisGenerateDefind.useBatch"></el-switch>
                &nbsp;&nbsp;&nbsp;
                <br>
                <el-switch active-text="JSR310" v-model="mybatisGenerateDefind.useJSR310"></el-switch>
                &nbsp;&nbsp;&nbsp;
                <el-switch active-text="Lombok" v-model="mybatisGenerateDefind.useLombok"></el-switch>
                &nbsp;&nbsp;&nbsp;
                <el-switch active-text="使用Example" v-model="mybatisGenerateDefind.useExample"></el-switch>
                &nbsp;&nbsp;&nbsp;
            </el-form-item>
            <el-form-item label="作者名" style="width: 40%">
                <el-input v-model="mybatisGenerateDefind.author"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="doGenerateMyBatis">立即创建</el-button>
                <el-button @click="mybatisGenerateDialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</dev>

</body>
<!--获取Spring的配置文件信息-->
<script th:inline="javascript" type="text/javascript">
    // 获取Spring的contextPath的值，拼接在实际请求路径的前面
    var context = [[${@Defind.contextPath}]];
</script>

<script th:src="@{js/db.js}"></script>

</html>