<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShowDB</title>
    <!--相关引入-->
    <link rel="shortcut icon" th:href="@{img/database.png}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" th:href="@{css/db.css}">
</head>
<body>
<dev id="ShowDB">
    {{dataSorucesInfo}}

    {{tableStruct}}
    <el-header>Header</el-header>
    <el-container>
        <el-aside width="200px">数据源信息</el-aside>

        <!--表结构信息-->
        <el-main>
            <el-card v-for="(item,index) in  tableStruct" class="box-card" style="width: 75%">
                <div slot="header" class="clearfix">
                    <span style="font-weight: bolder">{{item[0].tableName}}</span>
                    <el-button style="float: right; padding: 3px 0" type="text">建表语句</el-button>
                    <el-button style="float: right; padding: 3px 0" type="text">监控信息</el-button>
                </div>
                <div>
                    <el-table :data="item" stripe style="width: 100%">
                        <el-table-column property="fieldName" label="字段">
                            <template slot-scope="scope">
                                <span style="display: flex;align-items: center">
                                    <span>{{ scope.row.fieldName }}</span>
                                        <el-image v-if="scope.row.pk"
                                                  style="width: 26px; height: 26px"
                                                  th:src="@{img/pk.png}"></el-image>
                                </span>
                            </template>
                        </el-table-column>
                        <el-table-column property="type" label="类型"></el-table-column>
                        <el-table-column property="comment" label="字段描述"></el-table-column>
                        <el-table-column property="nullable" label="可否为空">
                            <template slot-scope="scope">
                            <span style="display: flex;align-items: center">
                                        <el-image v-if="scope.row.nullable"
                                                  style="width: 26px; height: 26px"
                                                  th:src="@{img/isTrue.png}"></el-image>
                                </span>
                            </template>
                        </el-table-column>
                        <el-table-column property="columnDefault" label="默认值"></el-table-column>
                    </el-table>
                </div>
            </el-card>
        </el-main>

        <el-aside width="150px">主从信息</el-aside>
    </el-container>


</dev>


</body>
<script th:src="@{js/db.js}"></script>
</html>