<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShowDB</title>
    <!--相关引入-->
    <link rel="shortcut icon" th:href="@{img/database.png}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" th:href="@{css/db.css}">
</head>
<body>
<dev id="ShowDB">
    <el-alert style="font-weight: bold" title="拆箱即用的数据库文档开源工具，会自动根据SpringBoot项目中已存在的数据源（多数据源），生成文档以及数据库监控信息等 v1.0.0"
              type="success"
              @close="starIt" center>
    </el-alert>
    <el-container>
        <el-aside width="20%">主从信息</el-aside>
        <!--表结构信息-->
        <el-main v-loading="loadingTables" width="20%">
            <div v-loading="loadingDataSource">
                <el-radio v-model="currentDataSource" @change="dsChange" v-for="(item,index) in dataSorucesInfo"
                          :label="item.beanName" border>{{item.beanName}}
                </el-radio>
            </div>

            <div style="margin-top: 18px">
                <el-popconfirm title="数据库结构发生变化需手动清理缓存？" @confirm="cleanCache">
                    <el-button type="info" slot="reference">清理缓存</el-button>
                </el-popconfirm>
                <el-popconfirm title="是否生成当前数据源所有表结构PDF？">
                    <el-button type="primary" slot="reference">PDF文档生成</el-button>
                </el-popconfirm>
                <el-popconfirm title="是否导出当前数据源所有表SQL创建语句？">
                    <el-button type="primary" slot="reference">建表语句导出</el-button>
                </el-popconfirm>
            </div>

            <div style="display: flex;align-items: center">
                <el-autocomplete size="large"
                                 v-model="queryTableName"
                                 :fetch-suggestions="querySearch"
                                 placeholder="表名模糊查询，回车确认"
                                 select-when-unmatched="true"
                                 prefix-icon="el-icon-search"
                                 @select="handleSelect" style="margin-top: 18px;">
                    <template slot-scope="{ item }">
                        <div class="name">{{ item}}</div>
                    </template>
                </el-autocomplete>
            </div>


            <el-card v-for="(item,index) in  tableStruct" class="box-card" style="margin-top: 18px">
                <div slot="header" class="clearfix">
                    <span style="font-weight: bolder">{{item.tableInfo.tableName}}&nbsp{{item.tableInfo.tableComment}}</span>
                    <el-button style="float: right; padding: 3px 3px" type="text">Java实体类</el-button>
                    <el-button style="float: right; padding: 3px 3px" type="text">建表语句</el-button>
                    <el-button style="float: right; padding: 3px 0px" type="text">监控信息</el-button>
                </div>
                <div>
                    <el-table :data="item.tableFieldList" stripe style="width: 100%">
                        <el-table-column property="fieldName" label="字段">
                            <template slot-scope="scope">
                                <span style="display: flex;align-items: center">
                                    <span>{{ scope.row.fieldName }}</span>
                                        <el-image v-if="scope.row.pk"
                                                  style="width: 26px; height: 26px"
                                                  th:src="@{img/pk.png}"></el-image>
                                </span>
                            </template>
                        </el-table-column>
                        <el-table-column property="type" label="类型"></el-table-column>
                        <el-table-column property="comment" label="字段描述"></el-table-column>
                        <el-table-column property="nullable" label="不为空">
                            <template slot-scope="scope">
                            <span style="display: flex;align-items: center">
                                        <el-image v-if="!scope.row.nullable"
                                                  style="width: 26px; height: 26px"
                                                  th:src="@{img/isTrue.png}"></el-image>
                                </span>
                            </template>
                        </el-table-column>
                        <el-table-column property="columnDefault" label="默认值"></el-table-column>
                    </el-table>
                </div>
            </el-card>

            <!--分页-->
            <div class="block" style="margin-top: 30px;text-align: center">
                <el-pagination
                        @current-change="handleCurrentChange"
                        :current-page.sync="tableStructPageNumber"
                        :page-size="tableStructSize"
                        layout="prev, pager, next, jumper"
                        :total="total">
                </el-pagination>
            </div>
        </el-main>


        <!--右侧数据源相关-->
        <el-aside width="35%" style="margin-top: 58px;">

            <el-image v-if="currentDataSourceInfo!=null&&currentDataSourceInfo.dsProductName==='MySQL'"
                      style="width: 228px; height: 228px" th:src="@{img/mysql.png}"></el-image>

            <!--数据源信息-->
            <el-descriptions style="font-size: medium" v-if="currentDataSourceInfo!=null" :title="currentDataSourceInfo.beanName"
                             column="1">
                <el-descriptions-item label="类型">
                    <el-tag size="small" type="info">{{currentDataSourceInfo.dsProductName}}</el-tag>
                </el-descriptions-item>
                <el-descriptions-item label="版本号">
                    <el-tag size="small" type="success"> {{currentDataSourceInfo.dbVersion}}</el-tag>
                </el-descriptions-item>
                <el-descriptions-item label="数据库">{{currentDataSourceInfo.tableSchema}}</el-descriptions-item>
                <el-descriptions-item label="系统">{{currentDataSourceInfo.osEnv}}</el-descriptions-item>
                <el-descriptions-item label="用户">{{currentDataSourceInfo.username}}</el-descriptions-item>
                <el-descriptions-item label="记录数">{{currentDataSourceInfo.records}}行</el-descriptions-item>
                <el-descriptions-item label="数据量">{{currentDataSourceInfo.dataSize}}MB</el-descriptions-item>
                <el-descriptions-item label="索引量">{{currentDataSourceInfo.indexSize}}MB</el-descriptions-item>
                <el-descriptions-item label="路径">{{currentDataSourceInfo.baseDir}}</el-descriptions-item>
                <el-descriptions-item label="URL">{{currentDataSourceInfo.url}}</el-descriptions-item>
            </el-descriptions>

            <!--IP客户端信息-->
            <el-table v-if="currentDataSourceInfo!=null" :data="currentDataSourceInfo.ipConCounts" border
                      style="margin-top: 12px;width:50%">
                <el-table-column prop="ip" label="IP"></el-table-column>
                <el-table-column prop="count" label="连接数量"></el-table-column>
            </el-table>
        </el-aside>

    </el-container>
</dev>


</body>
<script th:src="@{js/db.js}"></script>
</html>